


<p>
  <b>Comment:</b>
  <%= comment.comment %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.post, comment],
              :confirm => 'Are you sure?',
              :method => :delete , class: "btn"%>
</p>
